*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
body{
	font-family: Helvetica,Arial;
	font-size: 18px;
}
h1,h2{
	color: #106709;
	font-family: Helvetica,Arial;
}
h1{
	font-size: 20px;
	margin-bottom: 20px;
}
h2{
	font-size: 20px;
	margin-bottom: 20px;
}
.vada{
	text-align: justify;
	margin-bottom: 20px;
}
.author-text{
	font-size: 22px;
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin: 20px auto 0 auto;
}
.blog-post{
	width: 75%;
	float: left;
	padding-right: 30px;
}
.other-box{
	width: 25%;
	float: left;
}
.author-box{
	padding-top: 20px;
	border-top: 1px solid #808080;
}
.other{
	margin-bottom: 40px;
}